*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@font-face {
    font-family: "Lovelo";
    src: url("fontes/Lovelo\ Black.otf") format("opentype"), url("fontes/Lovelo\ Line\ Bold.otf"), format("truetype"), url("fontes/Lovelo\ Line\ Light.otf");
    font-weight: normal;
    font-style: normal;


}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #b0c4cc;
    overflow-x: hidden;
}

header{
    background-color: #5e0606;
    box-shadow: 0px 3px 10px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
}

.logo a{
    color: whitesmoke;
    font-family: "Lovelo";
    font-size: 20px;
}

.nav-list{
    display: flex;
    align-items: center;
    margin-right: 9%;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    margin: 0 15px;
}

.nav-link{
    font: 1.15rem;
    color: whitesmoke;
    font-weight: 400;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

.doe-button button{
    border: none;
    background-color: #5BC0EB;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    color: whitesmoke;
}

main{
    background: url(imagens/conexão.png) no-repeat center center;
    background-size: cover;
    height: 92vh;
}

.container-sobrenos{
    text-align: center;
    margin-top: 2%;
    height: 50px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.titulo-sobrenos{
    font-family: "Lovelo";
}

.subtitulo-oquee{
    font-family: "Lovelo";
    font-size: 18px;
}

.container-sobrenos p {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container-cards h2{
    font-family: "Lovelo";
}

.container-cards p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.container-cards {
    position: static;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
}

.container-cards .card {
    width: 100%;
    max-width: 308px;
    position: relative;
    height: 400px;
    background-color: whitesmoke;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 8px #5BC0EB;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
    border-radius: 10px;
}

.container-cards .card .imgBx {
    position: relative;
    width: 100%;
    max-width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
}

.container-cards .card .imgBx img {
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid #5BC0EB;
}



.titulo-doacoes{
    font-family: "Lovelo";
    text-align: center;
}

.subtitulo-objetivo{
    font-family: "Lovelo";
    font-size: 18px;
    text-align: center;
}

.container-doacoes p {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container-cards-doacoes h2{
    font-family: "Lovelo";
}

.container-cards-doacoes p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.container-cards-doacoes {
    position: static;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: -2%;
}

.container-cards-doacoes .card-doacoes {
    width: 100%;
    max-width: 308px;
    position: relative;
    height: 350px;
    background-color: whitesmoke;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 8px #5e0606;
    transition: 0.3s ease-in-out;
    margin-top: 11%;
    border-radius: 10px;
}

.container-cards-doacoes .card-doacoes .imgBx-doacoes {
    position: relative;
    width: 100%;
    max-width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
}

.container-cards-doacoes .card-doacoes .imgBx-doacoes img {
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid #5e0606;
}

.container-volutariado{
    margin-top: 4%;
}

.container-volutariado p {
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.container-cards-volutariado .card-volutariado h2{
    font-family: "Lovelo";
}

.container-cards-volutariado .card-volutariado p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.container-cards-volutariado {
    position: static;
    max-width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}

.container-cards-volutariado .card-volutariado {
    width: 100%;
    max-width: 300px;
    position: relative;
    height: 380px;
    background-color: whitesmoke;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 8px #5BC0EB;
    transition: 0.3s ease-in-out;
    margin-top: 6%;
    border-radius: 10px;
}

.container-cards-volutariado .card-volutariado .imgBx-volutariado {
    position: relative;
    width: 100%;
    max-width: 260px;
    height: 260px;
    top: -60px;
    left: 20px;
}

.container-cards-volutariado .card-volutariado .imgBx-volutariado img {
    max-width: 100%;
    border-radius: 10px;
    border: 3px solid #5BC0EB;
}

.container-instituicoes-voluntariado{
    position: relative;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.container-instituicoes-voluntariado .card-instituicoes-voluntariado{
    background-color: white;
    max-width: 1000px;
    display: flex;
    padding: 30px;
    margin-top: 2%;
    border-radius: 20px;
    border: 5px solid #5BC0EB;
}

.container-instituicoes-voluntariado .card-instituicoes-voluntariado .img-instituicoes-voluntariado img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    transition: transform 0.3s ease;
}

.container-instituicoes-voluntariado .card-instituicoes-voluntariado .img-instituicoes-voluntariado img:hover{
    transform: scale(1.1);
}

.container-instituicoes-voluntariado h1{
    text-align: center;
    font-family: "Lovelo";
}

.container-instituicoes-voluntariado p{
    text-align: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-button-instituicoes-voluntariado button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
}

.button-instituicoes-voluntariado{
    background-color: #5BC0EB;
    font-family: "Lovelo";
    cursor: pointer;
    color: white;
    font-size: 16px;
    transition: 0.4s;
}

.button-instituicoes-voluntariado:hover{
    transform: scale(1.2);
}

@media (max-width: 768px) {

    .logo a{
        font-size: 18px;
    }

    body{
        overflow-x: hidden;
    }

    .container-doacoes {
        padding: 10px;
    }


    .container-cards-doacoes{
        margin-top: 5%;
    }

    .container-cards-doacoes .card-doacoes .imgBx-doacoes {
        width: 100%;
        max-width: 200px;
        height: 260px;
        left: 10px;
    }

    .container-cards-volutariado {
        margin-top: 15%;
    }

    .container-cards-volutariado .card-volutariado {
        margin: 20px 5px;
        padding: 15px 10px;
        margin-top: 10%;
    }

    .container-cards-volutariado .card-volutariado .imgBx-volutariado {
        width: 100%;
        max-width: 200px;
        height: 260px;
        left: 10px;
    }

    .nav-bar{
        padding: 1.5rem 4rem;
    }

    .nav-item{
        display: none;
    }

    .doe-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .doe-button{
        display: block;
        padding: 1rem 2rem;
        text-align: center;
    }

    .mobile-menu .doe-button button{
        width: 50%;
    }

    .open{
        display: block;
    }

    main img{
        scale: 1.5;
        margin-top: 12%;
    }
}

@media (max-width: 468px) {

    body{
        overflow-x: hidden;
    }

    .logo a{
        font-size: 18px;
    }

    .container-volutariado{
        margin-top: 10%;
    }

    .container-volutariado .subtitulo-objetivo{
        top: 30px;
    }
    
    .container-cards-volutariado {
        padding: 0px;
        margin-top: 3%;
    }

    .container-cards-volutariado .card-volutariado {
        margin: 15px 5px;
        padding: 10px 5px;
        margin-top: 17%;
        width: 100%;
        height: 340px;
    }
}

.container-titulo-instituicoes{
    font-size: 14px;
    text-align: center;
    margin-top: 2%;
}

.container-titulo-instituicoes-voluntariado{
    font-size: 14px;
    text-align: center;
    padding: 20px 20px;
}

.container-titulo-instituicoes .subtitulo-objetivo-instituicoes{
    font-family: "Lovelo";
}

.container-titulo-instituicoes-voluntariado .subtitulo-objetivo-instituicoes-voluntariado{
    font-family: "Lovelo";
}

.container-instituicoes{
    position: relative;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

.container-instituicoes .card-instituicoes{
    background-color: white;
    max-width: 1000px;
    display: flex;
    padding: 30px;
    margin-top: 2%;
    border-radius: 20px;
    border: 5px solid rgb(94, 6, 6);
}

.container-instituicoes .card-instituicoes .img-instituicoes img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30vh;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    transition: transform 0.3s ease;
}

.container-instituicoes .card-instituicoes .img-instituicoes img:hover{
    transform: scale(1.1);
}

.container-instituicoes h1{
    text-align: center;
    font-family: "Lovelo";
}

.container-instituicoes p{
    text-align: left;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-button-instituicoes button{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
}

.button-instituicoes{
    background-color: rgb(94, 6, 6);
    font-family: "Lovelo";
    cursor: pointer;
    color: whitesmoke;
    font-size: 16px;
    transition: 0.4s;
}

.button-instituicoes:hover{
    transform: scale(1.2);
}

.container-rodapé {
    background-color: rgb(94, 6, 6); /* Cor de fundo para o rodapé */
    color: whitesmoke; /* Cor do texto */
    text-align: center; /* Alinhamento do texto */
    padding: 10px; /* Espaçamento interno */
    width: 100%; /* Largura completa */
    bottom: 0%; /* Fica fixo no fundo da página */
    margin-top: 5%;
    border-radius: 10px;
}

.container-rodapé p{
    font-size: 15px; /* Tamanho da fonte */
    line-height: 1.5; /* Altura da linha */
    text-align: center;
}

.container-rodapé h2{
    line-height: 2.5; /* Altura da linha */
    text-align: center;
    font-family: "Lovelo";
    font-size: 18px;
}

@media (max-width: 768px) {

    body{
        overflow-x: hidden;
    }
    
    .container-sobrenos{
        padding: 60px;
        margin-top: -7%;
    }
    .container-cards {
        margin-left: auto;
        margin-right: auto;
    }

    .container-cards .card {
        margin: 20px 5px;
        padding: 15px 10px;
        margin-top: 10%;
        height: 420px;
    }

    .container-cards .card .imgBx {
        width: 120%;
        max-width: 200px;
        height: 200px;
        left: 10px;
    }


    .container-instituicoes-voluntariado .card-instituicoes-voluntariado{
        width: 500px;
    }

    .container-instituicoes .card-instituicoes .img-instituicoes{
        width: 100%;
        max-width: 500px;
        height: 100%;
    }

    .container-instituicoes-voluntariado .card-instituicoes-voluntariado .img-instituicoes-voluntariado{
        width: 100%;
        max-width: 500px;
        height: 100%;
    }

    .container-instituicoes .card-instituicoes .img-instituicoes img{
        width: 50%;
        height: 10%;
    }

    .container-instituicoes-voluntariado .card-instituicoes-voluntariado .img-instituicoes-voluntariado img{
        width: 50%;
        height: 10%;
    }

    .container-instituicoes .card-instituicoes .img-instituicoes img:hover{
        transform: scale(1.01);
    }

    .container-instituicoes-voluntariado .card-instituicoes-voluntariado .img-instituicoes-voluntariado img:hover{
        transform: scale(1.01);
    }

    .container-button button{
        font-size: 18px;
        width: 200px;
        height: 55px;
        top: 40%;
        left: 50%;

    }

    .button-doeAgora:hover{
        font-size: 20px;
    }

    .container-rodapé {
        background-color: rgb(94, 6, 6); /* Cor de fundo para o rodapé */
        color: white; /* Cor do texto */
        text-align: center; /* Alinhamento do texto */
        padding: 5px; /* Espaçamento interno */
        width: 100%; /* Largura completa */
        bottom: 0%; /* Fica fixo no fundo da página */
        border-radius: 10px;
    }
    
    footer p {
        margin: 0; /* Remove margens padrão */
        font-size: 14px; /* Tamanho da fonte */
        line-height: 1.5; /* Altura da linha */
        font-family: "Lovelo";
    }
    
    .container-titulo-instituicoes-voluntariado{
        padding: 30px;
    }

    .container-titulo-instituicoes{
        padding: 15px;
    }
    
}

@media (max-width: 468px) {

    body{
        overflow-x: hidden;
    }
    .container-cards {
        padding: 0px;
        margin-top: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-cards .card {
        margin: 15px 10px;
        margin-top: 10%;
        padding: 10px 5px;
        height: 480px;
    }

    .container-cards .card .imgBx {
        width: 100%;
        max-width: 300px;
        height: 150px;
        left: 1px;
        top: -40px;
    }

    main{
        background: url(imagens/CONEXÃOmobile1\ \(1\).png) no-repeat center center;
        background-size: cover;
        margin-top: -1%;
        height: 50vh;
    }

    .container-rodapé {
        background-color: rgb(94, 6, 6); /* Cor de fundo para o rodapé */
        color: white; /* Cor do texto */
        text-align: center; /* Alinhamento do texto */
        padding: 5px; /* Espaçamento interno */
        width: 100%; /* Largura completa */
        bottom: 0%; /* Fica fixo no fundo da página */
        border-radius: 10px;
    }
    
    footer p {
        margin: 0; /* Remove margens padrão */
        font-size: 14px; /* Tamanho da fonte */
        line-height: 1.5; /* Altura da linha */
        font-family: "Lovelo";
    }
    
}
@media (max-width: 1024px){
    body{
        overflow-x: hidden;
    }
    .container-cards {
        padding: 0px;
        margin-top: -3%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-cards .card {
        margin: 15px 10px;
        margin-top: 10%;
        padding: 10px 5px;
        height: 480px;
    }

    .container-cards .card .imgBx {
        width: 100%;
        max-width: 300px;
        height: 150px;
        left: 1px;
        top: -40px;
    }

    .container-doacoes{
        margin-top: 3%;
    }

    .container-instituicoes{
        margin: 10px;
    }

    .container-titulo-instituicoes-voluntariado{
        padding: 40px;
        margin-top: -2%;
    }

    .container-instituicoes-voluntariado{
        margin-top: -2%;
        margin: 2px;
    }

    main{
        margin-top: -1%;
        height: 50vh;
    }

    .container-rodapé {
        background-color: rgb(94, 6, 6); /* Cor de fundo para o rodapé */
        color: white; /* Cor do texto */
        text-align: center; /* Alinhamento do texto */
        padding: 5px; /* Espaçamento interno */
        width: 100%; /* Largura completa */
        bottom: 0%; /* Fica fixo no fundo da página */
        border-radius: 10px;
    }
    
    footer p {
        margin: 0; /* Remove margens padrão */
        font-size: 14px; /* Tamanho da fonte */
        line-height: 1.5; /* Altura da linha */
        font-family: "Lovelo";
    }
}

